<template name="footer">
	<div class="navbar-default" role="navigation">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">
				<span class="glyphicon glyphicon-copyright-mark"></span>
				Maat IA system
			</a>
			<ul class="nav navbar-nav navbar-right">
	            <li >
	            	<a href="{{pathFor 'fuego'}}">
	      				<span class="glyphicon  glyphicon-fire" aria-hidden="true"></span> Fuego Purificador
	      			</a>
	      		</li>
	      		<li>
	            	<a href="#menu-principal">
	      				<span class="glyphicon  glyphicon-triangle-top" aria-hidden="true"></span>
	      			</a>
	      		</li>
	        </ul>
		</div>
	</div>
</template>
