<template name="navigation">
	<nav class="navbar navbar-default " id="menu-principal" role="navigation">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a href="/" class="navbar-brand ">
		      		<span class="glyphicon glyphicon-grain " aria-hidden="true"></span> Maat

		    	</a>
		    </div>

	        <ul class="nav navbar-nav">
	            <li >
	            	<a href="{{pathFor 'entitySubmit'}}">
	      				<span class="glyphicon  glyphicon-plus " aria-hidden="true"></span> ADD
	      			</a>
	      		</li>
	        </ul>

	        <ul class="nav navbar-nav navbar-right">
	      		<li><a href="{{pathFor 'config'}}">
	      				<span class="glyphicon  glyphicon-cog " aria-hidden="true"></span> Config
	      			</a>
	      		</li>
	            {{> loginButtons}} <!-- here -->
	        </ul>
		    
  		</div>
	</nav>
</template>